<md-list class="git-list">
	<md-list-item class="md-2-line"
	ng-repeat="item in $ctrl.issues | orderBy: '-created_at'"
	ng-href="{{item.html_url}}" target="_new"
	ng-class="$ctrl.status(item.state)">
	  <i class="md-avatar-icon fa" ng-class="$ctrl.statusIcon(item.state)"></i>
	  <div class="md-list-item-text" layout="column">
	    <h3>{{item.state | Capitalize}} - {{item.title}}</h3>
	    <h4>{{ item.created_at | date:'mediumDate' }}</h4>
	  </div>
	</md-list-item>
</md-list>

<pre-code data="$ctrl.issues"></pre-code>
