<h1 class="page-title">Projects</h1> 
<div ng-if="$ctrl.projects">
	<div class="search-input">
		<md-input-container md-no-float class="md-block">
			<md-icon md-font-icon="fa-search" class="fa"></md-icon> 
			<input ng-model="$ctrl.search" ng-model-options="$ctrl.searchOptions" type="text" placeholder="Search Projects">
	    </md-input-container>
	</div>

	<div layout="row" layout-wrap>
		<md-card ng-repeat="post in $ctrl.projects | filter:$ctrl.search | orderBy: $ctrl.sortComment: true" flex="45">
	        <img ng-src="{{post.better_featured_image.media_details.sizes.medium.source_url}}" class="md-card-image" alt="{{post.title.rendered}}">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">{{post.title.rendered}}</span>
	            <span class="md-subhead">{{post.acf.project_date | date:'mediumDate'}}</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content ng-bind-html="post.excerpt.rendered">
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
	          <md-button ng-if="post.acf.project_url" ng-href="{{post.acf.project_url}}" target="_new">View Site</md-button>
	          <md-button ui-sref="project({slug: post.slug})" ng-if="post.acf.gallery || post.content.rendered">See More</md-button>
	        </md-card-actions>
	      </md-card>
      </div>
</div>
<dummy ng-if="!$ctrl.projects"></dummy>

<pre-code data="$ctrl.projects"></pre-code>