*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
}

body {
	font-family: $primary;
	font-weight: $base-weight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary;
	font-weight: $base-weight;
}