/** LESS MIX-INS **/
@mixin gradient-bg(){
	background: rgb(99,182,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,182,219,1)), color-stop(100%,rgba(48,157,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
}
@mixin box-shadow-inset($x:0, $y:0, $blur:10px, $color:rgba(0,0,0,0.5)){
	box-shadow:inset $x $y $blur $color;
	-moz-box-shadow:inset $x $y $blur $color;
	-webkit-box-shadow:inset $x $y $blur $color;
	-o-box-shadow:inset $x $y $blur $color;
	-ms-box-shadow:inset $x $y $blur $color;
}
@mixin box-shadow($x:0, $y:0, $blur:10px, $color:rgba(0,0,0,0.5)){
	box-shadow:$x $y $blur $color;
	-moz-box-shadow:$x $y $blur $color;
	-webkit-box-shadow:$x $y $blur $color;
	-o-box-shadow:$x $y $blur $color;
	-ms-box-shadow:$x $y $blur $color;
}