<div class="header-title" flex="none">
	<h1>Austin Stewart</h1>
	<h2>Web Developer</h2>
</div>
<md-content flex>
   <ul class="menu">
	   <li><a href="#">Home</a></li>
	   <li><a href="#">Resume</a></li>
	   <li><a href="#">Blog</a></li>
	   <li><a href="#">Contact</a></li>
   </ul>
</md-content>
<div class="menu-social" flex="none" layout="row" layout-align="space-around end">
	<a class="social-icon" href="#">
		<md-icon md-font-icon="fa-linkedin-square" class="fa" ></md-icon> 
	</a>
	<a class="social-icon" href="#">
		<md-icon md-font-icon="fa-envelope" class="fa" ></md-icon> 
	</a>
	<a class="social-icon" href="#">
		<md-icon md-font-icon="fa-github-square" class="fa" ></md-icon> 
	</a>
	<a class="social-icon" href="#">
		<md-icon md-font-icon="fa-stack-overflow" class="fa" ></md-icon> 
	</a>
</div> 