.content-container {}

.main-content {
	width: 95%;
	max-width: 700px;
	margin: auto;
	padding-bottom: 25px;
	font-size: 20px;
	line-height: 1.8;
	a {
		text-decoration: none;
		color: $primaryColor;
		font-weight: bold;
		&:visited, &:focus {
			color: darken($primaryColor, 20%);
		}
		&:hover {
			color: lighten($primaryColor, 20%);
		}
	}
	.page-title {
		font-weight: bold;
		font-size: 2em;
		margin: .3em 0 .15em;
	}
	article {
		border-bottom: $base-border;
		padding: 15px 10px;
		&:last-child {
			border-bottom: none;
		}
		&.exerpt {
			cursor: pointer;
			@include transition($base-transition);
			&:hover {
				background: darken($white, 3%);
			}
		}
	}
}

.read-more {

}