.dummy-text {
    cursor: pointer;
    h2, p {     
        color: #e2e2e2;
        background-color: #e2e2e2;
        box-shadow: 0.5em 0 0 #e2e2e2,-0.5em 0 0 #e2e2e2;       
    }
    p {
        display: inline;
        line-height: 2;
    }
}