<md-card class="card" layout="row" div-hover>
	<div class="logo ilfusion-bg">
		<img ng-src="{{$ctrl.url}}images/ilfusion-logo.png">
	</div>
	<div flex>
		<md-card-title>
          <md-card-title-text>
            <span class="md-headline">Action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
			<ul>
				<li>laskjflsdfk</li>
				<li>laskjflsdfk</li>
				<li>laskjflsdfk</li>
				<li>laskjflsdfk</li>
				<li>laskjflsdfk</li>
			</ul>
		</md-card-content>
	</div>
</md-card>