<md-card class="card" layout="row" div-hover>
	<div class="logo ilfusion-bg">
		<img ng-src="{{$ctrl.url}}images/ilfusion-logo.png" alt="{{$ctrl.data.title.rendered}}">
	</div>
	<div flex layout="column" class="card-content">
		<md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline">{{$ctrl.data.title.rendered}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-content flex ng-bind-html="$ctrl.data.content.rendered | to_trusted"></md-content>
	</div>
</md-card>